<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="title"
                placeholder="Title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a valid Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea
                matInput
                rows="6"
                formControlName="content"
                placeholder="Content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter a valid Content</mat-error>
        </mat-form-field>
        <div>
            <button
                color='primary'
                mat-raised-button
                type="submit">Save</button>
            <button
                mat-raised-button type="button"
                class="image_button"
                (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker>
        </div>
        
    </form>
</mat-card>
<p>{{ newPost }}</p>